.ActionItem {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.ActionItem .action_img {
  width: 50%;
  margin-bottom: 10%;
}

.ActionItem_on_3 {
  color: purple;
}
.ActionItem_on_4 {
  color: purple;
}
.ActionItem_on_5 {
  color: purple;
}
.ActionItem_on_6 {
  color: purple;
}
