.Editor > section > header {
  font-size: 22px;
  font-weight: bold;
}


.Editor > section > header > title {
  background-color: rgb(226, 226, 226);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
}

.Editor .action_section .action_list_wrapper {
  display: flex;
  justify-content: space-around;
}

.Editor .action_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Editor .button_section {
  display: flex;
  justify-content: space-between;
}
