.HealthItem {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  color: white;

  background-color: rgba(48, 45, 45, 0.888);

  padding: 15px 0px;
  border-bottom: 1px solid rgb(241, 233, 233);
  border-radius: 5px;
}

.HealthItem .img_section {
  min-width: 120px;
  height: 80px;

  display: flex;
  justify-content: center;
  cursor: pointer;
}

.HealthItem .info_section {
  cursor: pointer;
}
.HealthItem .info_section .created_date {
  font-weight: bold;
  font-size: 27px;
}
.HealthItem .info_section .content {
  font-size: 20px;
}

.HealthItem .button_section {
  padding: 10px;
}
