.TDEditor {
  display: flex;
  gap: 10px;
}

.TDEditor input {
  flex: 1;
  padding: 15px;
  border-right: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.TDEditor button {
  cursor: pointer;
  width: 80px;
  border: none;
  border-radius: 5px;
}
